/* Sticky Nav */
#sticky-nav {
    overflow: hidden;
    background-color: rgb(57,109,185);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#sticky-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: monospace;
    font-weight: 500;
}

#sticky-nav a:hover {
    background-color: rgb(232, 48, 76);
}

.content {
    padding: 16px;
    align-content: center;
}

.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

/* Search Form */
form {
    padding: 15px; 
}

#searching, #random-poke {
    display: flex;
    align-content: justify; 
    font-family: monospace;
    text-align: center;
    padding-bottom: 75px;
}

/* Shuffler */

#random-poke {
    padding-top: 15px;
}

#shuffle {
    margin: 15px;
    padding: 15px;
}

#picture {
    height: 96px; 
    min-width: 96px;
    display: flex;
    align-content: justify; 
    font-family: monospace;
    text-align: center;
    padding: 15px, 15px, 10px, 15px;
}

#pic-box{
    border: 1px solid black;
}


/* Fonts */
@font-face {
    font-family: PokemonHollow;
    src: url(pokemon-font/PokemonHollow.ttf); 
}

@font-face {
font-family: PokemonSolid;
    src: url(pokemon-font/PokemonSolid.ttf);
}

h1 {
    font-family: PokemonSolid;
    color: rgb(232,187,15);
    font-size: 45px;
    text-align: center;
}

h2 {
    margin-bottom: 2px;
    font-family: monospace;
}

h3 {
    font-family: PokemonSolid;
    padding-bottom: 5px;
    font-size: 25px;
}

/* Grid */
.grid {
    /* border: 1px solid green; */
    /* flex: 0 32%; */
    height: 120px; 
    min-width: 120px;
    padding: 15px;
    border: 1px solid black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: monospace;
    
}

#shiny {
    padding: 15px;
    margin: 15px;
    display: block
}


/* Modal */
#modal-pop {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
    
}

#modal-textbox{
	background-color: rgb(232, 48, 76);
	height: 350px;
	width: 250px;
	border-radius: 25px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	padding: 2%;
	line-height: 120%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}

#modal-pic {
    margin: 0 auto;
}

#modal-image{
    height: 96px;
    width: 96px;
    border: white solid 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0, .9);
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

#modal-info {
    width: 45%;
    background-color: rgba(0,0,0, .9);
    color: white;
    border: white solid 10px;
    border-radius: 5px;
    font-family: monospace;
    padding: 1em;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

#modal-types {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#close {
    width: 17%;
    text-align: justify;
}

#type-one, #type-two {
    background-color: rgba(0,0,0, .9);
    color: white;
    border: white solid 10px;
    border-radius: 5px;
    padding: 3px, 1px, 3px, 1px;
    margin-top: 5px;
    width: 75px;
    text-align: center;
    font-family: monospace;
    font-weight: 500;
}

#submit {
  background: crimson;
  border-radius: 5px;
  color: white;
  cursor: pointer; 
  font-family: monospace;
  font-size: 1em;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}

#shuffle {
    background: crimson;
    border-radius: 5px;
    color: white;
    cursor: pointer; 
    font-family: monospace;
    font-size: 1em;
    height: 45px;
    text-align: left;
    text-transform: uppercase;
    width: 220px;
}



  @-webkit-keyframes wiggle
  {
      0% {-webkit-transform: rotateZ(2deg);}
      50% {-webkit-transform: rotateZ(-2deg);}
      100% {-webkit-transform: rotateZ(2deg);}
  }
  @-moz-keyframes wiggle
  {
      0% {-moz-transform: rotateZ(2deg);}
      50% {-moz-transform: rotateZ(-2deg);}
      100% {-moz-transform: rotateZ(2deg);}
  }
  @-o-keyframes wiggle
  {
      0% {-o-transform: rotateZ(2deg);}
      50% {-o-transform: rotateZ(-2deg);}
      100% {-o-transform: rotateZ(2deg);}
  }
  @keyframes wiggle
  {
      0% {transform: rotateZ(2deg);}
      50% {transform: rotateZ(-2deg);}
      100% {transform: rotateZ(2deg);}
  }
  
  .grid:hover {
      -webkit-animation: wiggle 0.2s ease-out ;
      -moz-animation: wiggle 0.2s ease-out ;
      -o-animation: wiggle 0.2s ease-out ;
      animation: wiggle 0.2s ease-out ;
      cursor: pointer;
  }

